<mat-form-field class="input-query">
    <input matInput placeholder="Film title" name="query" [ngModel]="query" (ngModelChange)="onSearchChange($event)">
</mat-form-field>

<div *ngFor="let film of films" class="film-item">
    <a [routerLink]="'/film/' + film.imdbID">
        <img [src]="film.Poster" [alt]="film.Title" class="film-poster">
    </a>

    <span>{{ film.Title }}</span>

    <button type="button" *ngIf="!isSaved(film.imdbID)" (click)="addToSaved(film.imdbID)">
        Save
    </button>

    <div *ngIf="isSaved(film.imdbID)">
        <span>Saved</span>
        <button type="button" (click)="removeFromSaved(film.imdbID)">Remove</button>
    </div>
</div>
